
.container {
    flex: 1;
    min-height: calc(100vh - 70px);
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.container img {
    max-width: 60%;
    height: auto;
}


@media (max-width: 768px) {
    .container {
        max-width: 90%; /* На маленьких экранах пусть контейнер занимает всю ширину */
    }
}

.toc {
    position: fixed;
    left: 0;
    top: 50px; /* Регулируйте в соответствии с вашей шапкой или навигацией */
    width: 200px; /* Ширина блока оглавления */
    height: 100%;
    overflow-y: auto;
    background-color: #f9f9f9; /* Фон блока оглавления */
    padding: 10px;
  }
  
  .toc li {
    list-style: none;
  }
  
  .toc a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 2px 0;
  }
  
  .toc a:hover {
    text-decoration: underline;
  }
