
.container {
    flex: 1;
    min-height: calc(100vh - 70px);
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}
.container img {
    max-width: 60%;
    height: auto;
}

.sidebar {
    float: left;
    width: 200px; /* или другая ширина, которая вам нужна */
    /* Остальные стили для боковой панели и оглавления */
}

.container {
    margin-left: 220px; /* Учитывайте ширину .sidebar */
    /* Остальные стили для .container */
}
