<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/markdown.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>

    <div class="sidebar">
        <ul class="toc">
          {% assign headings = content | split: '<h2' %}
          {% for heading in headings %}
            {% if forloop.first == false %}
              {% assign heading_parts = heading | split: '</h2>' %}
              {% assign heading_text = heading_parts[0] | strip_html | strip | newline_to_br | replace: '<br />', '' %}
              <li>
                <a href="#{{ heading_text | slugify }}">{{ heading_text }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      

    <div class="container">
        {{ content }}
    </div>

    {% include footer.html %}

</body>
</html>